@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #ffffff;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  background: #181818;
}
.wrapper {
  width: 65vmin;
  height: 70vmin;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background: #2f2f2f;
  box-shadow: 0 20px 40px rgba(24, 24, 24, 0.5);
}
.game-details {
  color: #b8c6dc;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 20px 27px;
  display: flex;
  justify-content: space-between;
}
.play-board {
  height: 100%;
  width: 100%;
  display: grid;
  background: #212837;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}
.play-board .food {
  background: #ff6a00;
  box-shadow: 0px 0px 10px #ff6a00;
  border-radius: 50%;
}
.play-board .head {
  background: #49fc9d;
  box-shadow: 0px 0px 10px #49fc9d;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}
.controls {
  display: none;
  justify-content: space-between;
}
.controls i {
  padding: 25px 0;
  text-align: center;
  font-size: 1.3rem;
  color: #b8c6dc;
  width: calc(100% / 4);
  cursor: pointer;
  border-right: 1px solid #2f2f2f;
}
#my-id {
  position: fixed;
  left: 50%;
  top: 98%;
  transform: translate(-50%, -98%);
}
#my-id p {
  color: #ffffff;
  font-size: 14px;
}
#my-id p a {
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0px 0px 10px transparent;
  font-size: 20px;
  padding: 20px;
  transition: all 300ms ease 0s;
}
#my-id p a:hover {
  color: #44c0f1;
}
@media screen and (max-width: 800px) {
  .wrapper {
    width: 90vmin;
    height: 115vmin;
  }
  .game-details {
    font-size: 1rem;
    padding: 15px 27px;
  }
  .controls {
    display: flex;
  }
  .controls i {
    padding: 15px 0;
    font-size: 1rem;
  }
  #my-id {
    position: fixed;
    left: 50%;
    top: 98%;
    transform: translate(-50%, -98%);
  }
  #my-id p {
    color: #ffffff;
    font-size: 14px;
  }
  #my-id p a {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0px 0px 10px transparent;
    font-size: 20px;
    padding: 20px;
    transition: all 300ms ease 0s;
  }
  #my-id p a:hover {
    color: #44c0f1;
  }
}
